In [3]:
import pandas as pd

In [4]:
# 1.READING AND EXPLORING DATASET
df = pd.read_csv('index_1.csv')
print(df)

            date                 datetime cash_type                 card  \
0     2024-03-01  2024-03-01 10:15:50.520      card  ANON-0000-0000-0001
1     2024-03-01  2024-03-01 12:19:22.539      card  ANON-0000-0000-0002
2     2024-03-01  2024-03-01 12:20:18.089      card  ANON-0000-0000-0002
3     2024-03-01  2024-03-01 13:46:33.006      card  ANON-0000-0000-0003
4     2024-03-01  2024-03-01 13:48:14.626      card  ANON-0000-0000-0004
...          ...                      ...       ...                  ...
3631  2025-03-23  2025-03-23 10:34:54.894      card  ANON-0000-0000-1158
3632  2025-03-23  2025-03-23 14:43:37.362      card  ANON-0000-0000-1315
3633  2025-03-23  2025-03-23 14:44:16.864      card  ANON-0000-0000-1315
3634  2025-03-23  2025-03-23 15:47:28.723      card  ANON-0000-0000-1316
3635  2025-03-23  2025-03-23 18:11:38.635      card  ANON-0000-0000-1275

      money    coffee_name
0     38.70          Latte
1     38.70  Hot Chocolate
2     38.70  Hot Chocolate
3     28.90      Americano
4     38.70          Latte
...     ...            ...
3631  35.76     Cappuccino
3632  35.76          Cocoa
3633  35.76          Cocoa
3634  25.96      Americano
3635  35.76          Latte

[3636 rows x 6 columns]

In [5]:
# 1a.READING AND EXPLORING DATASET
df = pd.read_csv('index_1.csv')
print("First 50 rows of the dataset:")
print(df.head(50))
print("\nFirst 50 columns of the dataset:")
print(df.iloc[:, :50])

First 50 rows of the dataset:
          date                 datetime cash_type                 card  money  \
0   2024-03-01  2024-03-01 10:15:50.520      card  ANON-0000-0000-0001   38.7
1   2024-03-01  2024-03-01 12:19:22.539      card  ANON-0000-0000-0002   38.7
2   2024-03-01  2024-03-01 12:20:18.089      card  ANON-0000-0000-0002   38.7
3   2024-03-01  2024-03-01 13:46:33.006      card  ANON-0000-0000-0003   28.9
4   2024-03-01  2024-03-01 13:48:14.626      card  ANON-0000-0000-0004   38.7
5   2024-03-01  2024-03-01 15:39:47.726      card  ANON-0000-0000-0005   33.8
6   2024-03-01  2024-03-01 16:19:02.756      card  ANON-0000-0000-0006   38.7
7   2024-03-01  2024-03-01 18:39:03.580      card  ANON-0000-0000-0007   33.8
8   2024-03-01  2024-03-01 19:22:01.762      card  ANON-0000-0000-0008   38.7
9   2024-03-01  2024-03-01 19:23:15.887      card  ANON-0000-0000-0008   33.8
10  2024-03-01  2024-03-01 19:29:17.391      card  ANON-0000-0000-0009   33.8
11  2024-03-02  2024-03-02 10:22:06.957      card  ANON-0000-0000-0010   28.9
12  2024-03-02  2024-03-02 10:30:35.668      cash                  NaN   40.0
13  2024-03-02  2024-03-02 10:41:41.249      card  ANON-0000-0000-0011   33.8
14  2024-03-02  2024-03-02 11:59:45.484      card  ANON-0000-0000-0012   33.8
15  2024-03-02  2024-03-02 14:38:35.535      card  ANON-0000-0000-0013   28.9
16  2024-03-02  2024-03-02 16:37:24.475      card  ANON-0000-0000-0014   33.8
17  2024-03-02  2024-03-02 17:34:54.969      card  ANON-0000-0000-0004   28.9
18  2024-03-03  2024-03-03 10:10:43.981      cash                  NaN   40.0
19  2024-03-03  2024-03-03 10:27:18.561      card  ANON-0000-0000-0015   38.7
20  2024-03-03  2024-03-03 11:33:56.118      card  ANON-0000-0000-0016   28.9
21  2024-03-03  2024-03-03 12:26:56.098      card  ANON-0000-0000-0012   28.9
22  2024-03-03  2024-03-03 13:09:36.321      card  ANON-0000-0000-0017   38.7
23  2024-03-03  2024-03-03 17:06:40.271      card  ANON-0000-0000-0018   38.7
24  2024-03-03  2024-03-03 17:08:45.895      card  ANON-0000-0000-0019   28.9
25  2024-03-03  2024-03-03 18:03:23.369      card  ANON-0000-0000-0020   33.8
26  2024-03-03  2024-03-03 18:04:27.946      card  ANON-0000-0000-0020   33.8
27  2024-03-03  2024-03-03 18:08:04.959      card  ANON-0000-0000-0020   38.7
28  2024-03-04  2024-03-04 10:03:51.994      card  ANON-0000-0000-0001   38.7
29  2024-03-04  2024-03-04 10:54:50.958      card  ANON-0000-0000-0021   38.7
30  2024-03-04  2024-03-04 11:05:16.184      card  ANON-0000-0000-0012   33.8
31  2024-03-04  2024-03-04 14:04:37.734      card  ANON-0000-0000-0022   24.0
32  2024-03-05  2024-03-05 09:59:52.651      card  ANON-0000-0000-0001   38.7
33  2024-03-05  2024-03-05 14:34:55.963      card  ANON-0000-0000-0023   38.7
34  2024-03-05  2024-03-05 17:34:06.043      card  ANON-0000-0000-0024   38.7
35  2024-03-05  2024-03-05 17:35:25.021      card  ANON-0000-0000-0025   38.7
36  2024-03-05  2024-03-05 17:36:28.571      card  ANON-0000-0000-0026   38.7
37  2024-03-05  2024-03-05 17:37:13.659      card  ANON-0000-0000-0027   38.7
38  2024-03-05  2024-03-05 17:38:09.354      card  ANON-0000-0000-0009   38.7
39  2024-03-05  2024-03-05 17:56:15.776      card  ANON-0000-0000-0028   28.9
40  2024-03-05  2024-03-05 18:01:31.242      card  ANON-0000-0000-0028   38.7
41  2024-03-06  2024-03-06 12:30:27.089      cash                  NaN   35.0
42  2024-03-06  2024-03-06 13:24:07.667      card  ANON-0000-0000-0012   28.9
43  2024-03-06  2024-03-06 13:25:14.351      card  ANON-0000-0000-0012   28.9
44  2024-03-06  2024-03-06 14:52:01.761      card  ANON-0000-0000-0029   38.7
45  2024-03-06  2024-03-06 14:53:18.344      card  ANON-0000-0000-0029   38.7
46  2024-03-07  2024-03-07 10:08:58.945      cash                  NaN   40.0
47  2024-03-07  2024-03-07 10:18:40.543      card  ANON-0000-0000-0030   38.7
48  2024-03-07  2024-03-07 11:03:58.976      card  ANON-0000-0000-0031   38.7
49  2024-03-07  2024-03-07 11:25:43.977      cash                  NaN   40.0

            coffee_name
0                 Latte
1         Hot Chocolate
2         Hot Chocolate
3             Americano
4                 Latte
5   Americano with Milk
6         Hot Chocolate
7   Americano with Milk
8                 Cocoa
9   Americano with Milk
10  Americano with Milk
11            Americano
12                Latte
13  Americano with Milk
14  Americano with Milk
15            Americano
16  Americano with Milk
17            Americano
18                Latte
19                Latte
20              Cortado
21            Americano
22        Hot Chocolate
23                Cocoa
24              Cortado
25  Americano with Milk
26  Americano with Milk
27        Hot Chocolate
28                Latte
29                Latte
30  Americano with Milk
31             Espresso
32                Latte
33                Latte
34                Latte
35        Hot Chocolate
36                Cocoa
37        Hot Chocolate
38        Hot Chocolate
39              Cortado
40        Hot Chocolate
41  Americano with Milk
42            Americano
43              Cortado
44           Cappuccino
45           Cappuccino
46                Latte
47        Hot Chocolate
48                Latte
49                Latte

First 50 columns of the dataset:
            date                 datetime cash_type                 card  \
0     2024-03-01  2024-03-01 10:15:50.520      card  ANON-0000-0000-0001
1     2024-03-01  2024-03-01 12:19:22.539      card  ANON-0000-0000-0002
2     2024-03-01  2024-03-01 12:20:18.089      card  ANON-0000-0000-0002
3     2024-03-01  2024-03-01 13:46:33.006      card  ANON-0000-0000-0003
4     2024-03-01  2024-03-01 13:48:14.626      card  ANON-0000-0000-0004
...          ...                      ...       ...                  ...
3631  2025-03-23  2025-03-23 10:34:54.894      card  ANON-0000-0000-1158
3632  2025-03-23  2025-03-23 14:43:37.362      card  ANON-0000-0000-1315
3633  2025-03-23  2025-03-23 14:44:16.864      card  ANON-0000-0000-1315
3634  2025-03-23  2025-03-23 15:47:28.723      card  ANON-0000-0000-1316
3635  2025-03-23  2025-03-23 18:11:38.635      card  ANON-0000-0000-1275

      money    coffee_name
0     38.70          Latte
1     38.70  Hot Chocolate
2     38.70  Hot Chocolate
3     28.90      Americano
4     38.70          Latte
...     ...            ...
3631  35.76     Cappuccino
3632  35.76          Cocoa
3633  35.76          Cocoa
3634  25.96      Americano
3635  35.76          Latte

[3636 rows x 6 columns]

In [7]:
# 2.REMOVING DUPLICATES RECORDS
import numpy as np

In [12]:
#REMOVING DUPLICATES RECORDS
df= pd.read_csv('index_1.csv')
unique_data = df.drop_duplicates()
print(unique_data)

            date                 datetime cash_type                 card  \
0     2024-03-01  2024-03-01 10:15:50.520      card  ANON-0000-0000-0001
1     2024-03-01  2024-03-01 12:19:22.539      card  ANON-0000-0000-0002
2     2024-03-01  2024-03-01 12:20:18.089      card  ANON-0000-0000-0002
3     2024-03-01  2024-03-01 13:46:33.006      card  ANON-0000-0000-0003
4     2024-03-01  2024-03-01 13:48:14.626      card  ANON-0000-0000-0004
...          ...                      ...       ...                  ...
3631  2025-03-23  2025-03-23 10:34:54.894      card  ANON-0000-0000-1158
3632  2025-03-23  2025-03-23 14:43:37.362      card  ANON-0000-0000-1315
3633  2025-03-23  2025-03-23 14:44:16.864      card  ANON-0000-0000-1315
3634  2025-03-23  2025-03-23 15:47:28.723      card  ANON-0000-0000-1316
3635  2025-03-23  2025-03-23 18:11:38.635      card  ANON-0000-0000-1275

      money    coffee_name
0     38.70          Latte
1     38.70  Hot Chocolate
2     38.70  Hot Chocolate
3     28.90      Americano
4     38.70          Latte
...     ...            ...
3631  35.76     Cappuccino
3632  35.76          Cocoa
3633  35.76          Cocoa
3634  25.96      Americano
3635  35.76          Latte

[3636 rows x 6 columns]

In [13]:
# 3. STATISTICAL ANALYSIS OF DATA
print("Statistical Summary:")
display(df.describe())

print("\nDataset Info:")
display(df.info())

print("\nMissing Values:")
display(df.isnull().sum())

Statistical Summary:

             money
count  3636.000000
mean     31.746859
std       4.919926
min      18.120000
25%      27.920000
50%      32.820000
75%      35.760000
max      40.000000

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3636 entries, 0 to 3635
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3636 non-null   object
 1   datetime     3636 non-null   object
 2   cash_type    3636 non-null   object
 3   card         3547 non-null   object
 4   money        3636 non-null   float64
 5   coffee_name  3636 non-null   object
dtypes: float64(1), object(5)
memory usage: 170.6+ KB

None

Missing Values:

date            0
datetime        0
cash_type       0
card           89
money           0
coffee_name     0
dtype: int64